body{
     height: 100%;
     width: 100%;
     font-family: "Pathway Gothic One", sans-serif;
     

}

.top{
    text-align: center;
    font-size: 15rem;
    font-weight: bolder;
    font-family: "Pathway Gothic One", sans-serif;
}

#top-2{
    font-family: "Pathway Gothic One", sans-serif;
}


.ppp{
    display: flex;
    justify-content: center;
}

.days{
    display: flex;
    justify-content: center;
}

.day{
    margin: 0 5rem 0 5rem;
    display: flex;
    border-radius: 6rem;
    justify-content: center;
    width:20rem;
    height: 3rem;
    color: white;
    background-color: black;
    align-self: center;
}

.ov{

    background: linear-gradient(#ffffff,90%,#c1ff3f)
}
.pp{
    display: flex;
    flex:0.25;
    margin:  5rem 0 5rem;
    flex-direction: column;
    padding: 0 10rem 0 10rem; 
    justify-content: center;
    align-items: center;
}
#up-events{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

.nav-top{
    border: 1px solid black;
}

.up-nav li{
    border: 1px solid black;
    margin: 2px;
    padding: 0px 0px 0px 2px;
    max-width: 182px;
    border-radius: 24px;
    max-height: 36px;
}

.up-nav{
    margin: auto;
    justify-content: center;

}

.collapse ul{
    justify-content: center;
}

#logo{
    margin: 0px 16px;
}

#top nav{
    border: 1px solid black;
}

#up-events > div > div > p:nth-child(6) > img{
    margin: 3px;
}

.bottom{
    background-color: #050505;
  overflow: hidden;
  bottom: 0;
  width: 100%;
}

.bottom #co{
    width: 100%;
}

#bnav{
    text-align: center;
}

#bnav i{
    
}

.m{
    margin: 24px;
    padding: 16px;
}

.m .row{
    border-bottom: 1px solid black;
}